.product{
                  background-color: rgb(255, 255, 255);
            box-shadow: 1px 1px 5px 1px rgba(134, 129, 129, 0.5);
}
.more{
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      text-align: center;
      line-height: 100%;
}