.color_nav{
      background-color:rgb(186,192,196);
}
.brand{
      
}
.hi{
      color:red;
}
.images{
      width:160px;
      height:70px;
      position:absolute;
      left:22px;
      top:10px;
      
}

.collapse{
      background-color: rgb(221,232,251) !important;
}

.canvas{
      background-color:transparent ;
      opacity:0.8 !important;
}
.offcanvas-header{
      .btn-close{
      color:red !important;
      opacity:1 !important;
}
}
