.color_nav{
      background-color:rgb(186,192,196);
}
.brand{
      
}

.images{
      width:160px;
      height:70px;
      position:absolute;
      left:22px;
      top:10px;
      
}

.collapse{
      background-color:#2c3e50;
}