 
.button{
                padding: 10px 0px;
    display: block;
    width: 188px;
            position: relative;
            // right: -50px;
            background-color: black;
            color: #fff;
            border-radius: 5px;
            &:hover{
                  color: black;
                  background-color: #fff;
            }
}

.flex{
    
    flex: 0 0 !important;

}